#fh5co-about {
    padding-top: 5%;
    padding-bottom: 10%;
}

.fh5co-heading h2 {
    font-size: 24px;
}

.episode {
    margin-top: 30px;
    margin-bottom: 30px;
}

.interact{
    text-align: right
}

.interact a:hover {
    text-decoration: none;
}

.interact img {
    width: 18px;
}

.fh5co-copy-inner img {
    width: 33%;
    margin-bottom: 30px;
}

.episode > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 0px;
}

div.icon i {
    font-size: 16px;
}

details.concepts > summary {
    color: #69c2c8;
    font-weight: 500;
}

details.concepts > summary > img {
    width: 18px;
    padding-bottom: 4px;
    transition: 200ms linear;
}

details.concepts[open] > summary > img {
    transform: rotate(90deg);
    padding-bottom: 0px;
    padding-right: 4px;
    height: 18px;
    width: unset;
}

div.furtherreading {
    margin-top: 20px;
}

div.furtherreading > p {
    margin-bottom: 10px;
    font-weight: 500;
}

.code a {
    text-transform: uppercase;
    font-weight: 500;
}
