<div id="fh5co-episode-{{.Params.id}}" data-section="episodes-{{.Params.id}}" class="episode">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .Title}} </h2>
    </div>

    {{ if isset .Params "git-branch" }}
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="icon code"><a href="https://github.com/coolya/basic-lang/tree/episode/{{.Params.id}}"
          target="blank"><i class=icon-github></i>
          code</a></div>
    </div>
    {{ end }}
    <div class="col-md-12">
      <p>{{ .Content }}</p>
      {{ if isset .Params "concepts"}}
      <p>
      <details class="concepts">
        <summary><img src="/images/arrow.svg" /> Concepts in this part</summary>
        <ul>
          {{ range .Params.concepts}}
          <li> {{ . | markdownify }} </li>

          {{ end }}
        </ul>
      </details>
      </p>
      {{ end }}
    </div>



    <div class="col-md-12 text-center">
      {{ partial "youtube.html" .}}
    </div>

    

    {{ if isset .Params "furtherreading"}}
    <div class="col-md-12 furtherreading">
      <p>Further Readings:</p>
      <ul>
        {{ range .Params.furtherreading}}
        <li> {{ . | markdownify }} </li>

        {{ end }}
      </ul>
    </div>
    {{ end }}

    <div class="col-md-12 interact">
      <a class="edit" target="_blank"
        href="https://github.com/coolya/heavymeta.tv/edit/master/content/episodes/{{ .Params.id }}.md"><img
          src="/images/edit.svg" alt="edit this episode on github" /> </a>
      <a class="feedback" target="_blank"
        href="https://github.com/coolya/heavymeta.tv/issues/new?assignees=&labels=feedback&template=episode-feedback.md&title=Episode%3A+{{.Params.id }}"><img
          src="/images/warning.svg" alt="feedback to this episode on github" /></a>
    </div>
  </div>

</div> <!-- END fh5co-services -->